#clueioTableDiv {
    overflow-y: scroll;
    height : 68vh;
}

#gprofTableDiv {
    overflow-y: scroll;
    height : 65vh;
}



#nodeDiagram {
    width: 100%;
    float: left;
}
#allTiles {
    margin-top: 2%;
    width: 50%;
    float:right;
    height: 100vh;
    overflow-y: scroll;
}



