.button-div {
    /* display: flex;
    align-self: left; */
    padding-top: 15px;
    padding-left: 5px;
    height: 1.5vw;
    padding-bottom: 3vh;
}

.divider-root {
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.left {
    /* background-color: blue;
    color: white; */
    flex: 2;
    padding: 20px;
}

.right {
    background-color: #e91e63;
    color: white;
    flex: 1;
    padding: 20px;
}

#clueioTableDiv, #gprofTableDiv {
    overflow-y: scroll;
    height : 200px;

}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
text-align: center;
padding: 8px;
border: 1px solid black;
font-size: 2vh;
}

th {
background-color: #ddd;
}

#nodeDiagram {
    width: 50%;
    height: 100%;
    float: left;
}
#allTiles {
    width: 50%;
    float:left;
    height: 60vh;
    overflow-y: scroll;
    padding: 3%;
}

.tileDescription {
    font-size: 2vh;
}