#cbioPortalPlots {
    width : 50%;
    float : left;
}

#cbioPortalTableDiv {
    overflow-y: scroll;
    height : 25vh;
    width : 40%;
    float : left;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: center;
    padding: 8px;
    border: 1px solid black;
    font-size: 2vh;
}

th {
    background-color: #ddd;
}

button {
    font-size: 2vh;
}