.body-diagram-container {
    position: relative;
    border: '1px solid black'
}

.body-diagram-image {
    width: 25%;
}

.organ-images-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    right: 37%;
    position: absolute;
}


.organ-image {
    position: absolute;
}

/* Add the position of each organ image */
.organ-image.heart {
    top: 25%;
    left: 25%;
}

.organ-image-lungs {
    position: absolute;
    /* bottom: 50%; */
    left: 70%;
    width: 10%
}

.organ-image.liver {
    top: 75%;
    left: 75%;
}